* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.count-container {
  width: 30%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.result {
  font-size: 100px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #1a8918;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  padding: 10px;
  font-size: 1em;
  margin: 20px 3px;
}
